input[type=checkbox] {
display:none;
}
 
.spirit_check + label
{
/* background: #999; */
height: 100px;
width: 70px;
display:inline-block;
padding: 0 0 0 0px;
/* border-radius:50%; */
}
.spirit_check:checked + label
{
background:rgba(0, 128, 255, 0.5);
height: 100px;
width: 70px;
display:inline-block;
padding: 0 0 0 0px;
z-index:9999999;

}
img{
	width: 70%;
    height: 100%;
    /* border-radius: 50%; */
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: auto;
    background-repeat: no-repeat;
}

/* input[type=checkbox]:checked + label > img{
	opacity:0.5
} */