<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sesoc.global.cocktail.dao.CocktailDAO">
	<select id="getCocktailList" resultType="cocktail">
			SELECT
			COCKTAIL_SEQ as cocktailseq,
 			COCKTAILNAME,
			COCKTAILNAME_EN,
 			INGREDIENT,
 			RECIPE,
 			IMAGERINK,
 			COLORVALUE,
 			RECOMMAND,
 			HITCOUNT
		FROM
			COCKTAIL2
	</select>
	
		<select id="selectCocktail" parameterType="string" resultType="cocktail">
		SELECT
			COCKTAIL_SEQ  as cocktailseq,
 			COCKTAILNAME,
			COCKTAILNAME_EN,
 			INGREDIENT,
 			RECIPE,
 			IMAGERINK,
 			COLORVALUE,	
 			RECOMMAND,
 			HITCOUNT
		FROM
			COCKTAIL2
		WHERE
			COCKTAIL_SEQ = #{value}
	</select>
	<select id="getCocktailByColor" parameterType="string" resultType="cocktail">
	SELECT
		COCKTAIL_SEQ  as cocktailseq,
 		COCKTAILNAME,
		COCKTAILNAME_EN,
 		INGREDIENT,
 		RECIPE,
 		IMAGERINK,
 		COLORVALUE,
 		RECOMMAND,
 		HITCOUNT
	FROM
		COCKTAIL2
	WHERE
		COLORVALUE = #{value}
	</select>
	<select id="selectUserCocktail" parameterType="user" resultType="userCocktail">
	SELECT
		USERCOCKTAILSEQ,
		USEREMAIL,
		USERCOCKTAILNAME,
		USERCOCKTAILNAME_EN,
		USERINGREDIENT,
 		USERRECEIPE,													    
 		SAVEFILENAME,														   
 		ORIGINALFILENAME,													   
 		USERCOLORVALUE, 													   
 		USERHITCOUNT,														  
		USERRECOMMAND	
	FROM
		USERCOCKTAIL
	<where>
		<if test="userEmail != null">
		USEREMAIL = #{userEmail}
		</if>
	</where>
	</select>
	<select id="getRecommandCocktailList" resultType="cocktail">
	SELECT
		COCKTAIL_SEQ  as cocktailseq,
 		COCKTAILNAME,
		COCKTAILNAME_EN,
 		INGREDIENT,
 		RECIPE,
 		IMAGERINK,
 		COLORVALUE,	
 		RECOMMAND,
 		HITCOUNT
	FROM
	(
		SELECT
			COCKTAIL_SEQ,
 			COCKTAILNAME,
			COCKTAILNAME_EN,
 			INGREDIENT,
 			RECIPE,
 			IMAGERINK,
 			COLORVALUE,
 			RECOMMAND,
 			HITCOUNT
		FROM
			COCKTAIL2
		ORDER BY
			RECOMMAND DESC
	)
	WHERE
		<![CDATA[ ROWNUM <= 3]]>
	</select>
	<update id="recommandCocktail" parameterType="String">
		UPDATE
			COCKTAIL2
		SET
			RECOMMAND = RECOMMAND + 1
		WHERE
			COCKTAIL_SEQ = #{value}
	</update>	
	
	<select id="getIngredientByAlcole" resultType="ingredient">
		select 
			INGREDIENT_SEQ as ingredientSeq,
			INGREDIENT,
			CLASSIFY
		from 
			ingredient 
		where
			CLASSIFY like 'A%' 
		order by ingredient_seq
	</select>
	
	<select id="getIngredientByFruit" resultType="ingredient">
		select 
			INGREDIENT_SEQ as ingredientSeq,
			INGREDIENT,
			CLASSIFY
		from 
			ingredient 
		where
			CLASSIFY like 'F%' 
		order by ingredient_seq
	</select>
	
	<select id="getIngredientByLiqueur" resultType="ingredient">
		select 
			INGREDIENT_SEQ as ingredientSeq,
			INGREDIENT,
			CLASSIFY
		from 
			ingredient 
		where
			CLASSIFY like 'L%' 
		order by ingredient_seq
	</select>
	<select id="getIngredientByMaterial" resultType="ingredient">
		select 
			INGREDIENT_SEQ as ingredientSeq,
			INGREDIENT,
			CLASSIFY
		from 
			ingredient 
		where
			CLASSIFY like 'M%' 
		order by ingredient_seq
	</select>
	
	<select id="getIngredientOfCocktail" parameterType="HashMap" resultType="HashMap">
   SELECT cocktail_seq, count(*) COUNT
FROM(
        select  i.COCKTAIL_SEQ, i.INGREDIENT, n.classify
                from(
                        select cocktail_seq, cocktailname from cocktail2
                        <where>
                       	 	<if test="color != null">
   								colorvalue = '${color}'
 							</if>  
 						</where>
        ) test, COCKTAIL_INGREDIENT i, INGREDIENT n
        WHERE 	test.cocktail_seq = i.cocktail_seq
                AND
                i.ingredient = n.ingredient_seq
                AND
                REGEXP_LIKE(n.classify, '${regexp}')
)
group by
    cocktail_seq
      	
	</select>
	
	<select id="selectWorldBest" resultType="worldBest">
	select c.cocktailname,c.imagerink, c.cocktail_seq cocktailSeq, n.ingredient from (
	select c.cocktail_Seq, c.cocktailName, c.cocktailName_En, c.ingredient, c.recipe, c.imageRink, c.colorValue, c.recommand, c.hitcount
	 from cocktail2 c, worldbest w  
	 WHERE
	 	c.cocktail_seq = w.cocktail_seq AND
        <![CDATA[ ROWNUM <= 3]]>
        ) c, COCKTAIL_INGREDIENT i, INGREDIENT n
	where  
    c.cocktail_seq = i.cocktail_seq   
    AND 
    i.ingredient = n.ingredient_seq
	</select>
	
</mapper>
