<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sesoc.global.cocktail.dao.CocktailDAO">
	<select id="getCocktailList" resultType="cocktail">
			SELECT
			COCKTAIL_SEQ as cocktailseq,
 			COCKTAILNAME,
			COCKTAILNAME_EN,
 			INGREDIENT,
 			RECIPE,
 			IMAGERINK,
 			COLORVALUE,
 			RECOMMAND,
 			HITCOUNT
		FROM
			COCKTAIL2
	</select>
	
		<select id="selectCocktail" parameterType="string" resultType="cocktail">
		SELECT
			COCKTAIL_SEQ  as cocktailseq,
 			COCKTAILNAME,
			COCKTAILNAME_EN,
 			INGREDIENT,
 			RECIPE,
 			IMAGERINK,
 			COLORVALUE,	
 			RECOMMAND,
 			HITCOUNT
		FROM
			COCKTAIL2
		WHERE
			COCKTAIL_SEQ = #{value}
	</select>
	<select id="getCocktailByColor" parameterType="string" resultType="cocktail">
	SELECT
		COCKTAIL_SEQ  as cocktailseq,
 		COCKTAILNAME,
		COCKTAILNAME_EN,
 		INGREDIENT,
 		RECIPE,
 		IMAGERINK,
 		COLORVALUE,
 		RECOMMAND,
 		HITCOUNT,
	FROM
		COCKTAIL2
	WHERE
		COLORVALUE = #{value}
	</select>
	<select id="selectUserCocktail" parameterType="user" resultType="userCocktail">
	SELECT
		USERCOCKTAILSEQ,
		USEREMAIL,
		USERCOCKTAILNAME,
		USERCOCKTAILNAME_EN,
		USERALCOLE,
		USERLIQUEUR,
		USERMATERIAL														  
 		USERRECEIPE														    
 		SAVEFILENAME														   
 		ORIGINALFILENAME													   
 		USERCOLORVALUE 													   
 		USERHITCOUNT														  
		USERRECOMMAND	
	FROM
		USERCOCKTAIL
	WHERE
		USEREMAIL = #{userEmail}
	</select>
	<select id="getRecommandCocktailList" resultType="cocktail">
	SELECT
		COCKTAIL_SEQ  as cocktailseq,
 		COCKTAILNAME,
		COCKTAILNAME_EN,
 		INGREDIENT,
 		RECIPE,
 		IMAGERINK,
 		COLORVALUE,	
 		RECOMMAND,
 		HITCOUNT
	FROM
	(
		SELECT
			COCKTAIL_SEQ,
 			COCKTAILNAME,
			COCKTAILNAME_EN,
 			INGREDIENT,
 			RECIPE,
 			IMAGERINK,
 			COLORVALUE,
 			RECOMMAND,
 			HITCOUNT
		FROM
			COCKTAIL2
		ORDER BY
			RECOMMAND DESC
	)
	WHERE
		<![CDATA[ ROWNUM <= 10]]>
	</select>
	
</mapper>
