<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sesoc.global.cocktail.dao.MemberDAO">
<select id="selectOne" parameterType="user" resultType="user">
 SELECT 
 	USEREMAIL, USERPWD, USERAUTHCODE, USERAUTH
 FROM
 	USERDETAIL
 WHERE
 	<if test="userPwd != null">
 	USEREMAIL = #{userEmail} AND USERPWD = #{userPwd}
	</if>
	<if test="userEmail == null">
	USEREMAIL = #{userEmail}
	</if>		 
			 
</select>
<select id="selectUserPhoto" parameterType="user" resultType="userPhoto">
	SELECT 
		USERPHOTOSEQ,
		USEREMAIL,
		TITLE,
		CONTENTS,
		SAVEFILENAME,
		ORIGINALFILENAME,
		WRITEDATE,
		HITCOUNT,
		LIKECOUNT,
		COCKTAILNAME
	FROM
		USERPHOTO
	WHERE
		USEREMAIL = #{userEmail}
	ORDER BY
		WRITEDATE DESC
</select>

<select id="selectAllUserPhoto" resultType="userPhoto">
SELECT 
		USERPHOTOSEQ,
		USEREMAIL,
		TITLE,
		CONTENTS,
		SAVEFILENAME,
		ORIGINALFILENAME,
		WRITEDATE,
		HITCOUNT,
		LIKECOUNT,
		COCKTAILNAME
	FROM
		USERPHOTO
	ORDER BY
		WRITEDATE DESC
</select>

<insert id="writeBoard" parameterType="userPhoto">
	INSERT INTO USERPHOTO(
		USERPHOTOSEQ, USEREMAIL, TITLE, CONTENTS, SAVEFILENAME, ORIGINALFILENAME,
		WRITEDATE, HITCOUNT, LIKECOUNT, COCKTAILNAME
	)
	values(
		USERPHOTOSEQ.nextVal, #{userEmail}, #{title}, #{contents}, #{saveFileName}, #{originalFileName},
		SYSDATE, 0, 0, 'cocktailname'
	)
</insert>

</mapper>
	
	
	