.profilebox {
	cursor: pointer;
	float: left;
}
.profilebox1 {
	position: relative;
}
.profilebox .SocialIcons {
	display: flex;
	flex-direction: column;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 15px;
	transform: rotateY(90deg);
	transform-origin: left center 0;
	transition: all 350ms ease;
}
.profilebox .SocialIcons a {
	background: #ffffff none repeat scroll 0 0;
	font-size: 20px;
	height: 50px;
	margin-bottom: 1px;
	position: relative;
	text-align: center;
	width: 50px;
}
.profilebox .SocialIcons a i {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.profilebox .SocialIcons a:nth-child(1) {
}
.profilebox .SocialIcons a:nth-child(2) {
}
.profilebox .SocialIcons a:nth-child(3) {
}
.profilebox:hover .SocialIcons {
	opacity: 1;
	left: 15px;
	transform: rotateY(0deg);
}
/* .profilebox .profileInfo {
	background: #ffffff none repeat scroll 0 0;
	bottom: 0;
	height: 50px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	width: 90%;
	transform: rotatex(90deg);
	transform-origin: bottom center 0;
	transition: all 350ms ease;
	opacity: 0;
}
.profilebox .profileInfo h3 {
	font-size: 20px;
	margin: 15px 0;
	text-align: center;
}
.profilebox:hover .profileInfo {
	opacity: 1;
	bottom: 15px;
	transform: rotatex(0deg);
}
 */