@font-face {
  font-family: 'icomoon';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1380852/icomoon.ttf?l3d5b1") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1380852/icomoon.woff?l3d5b1") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1380852/icomoon.svg?l3d5b1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.c-default {
  color: rgba(0, 0, 0, 0.66);
}

.c-grey {
  color: #757575;
}

.b-0, .collapsible:not(.active) .collapsible-header {
  border: none;
}

.bb-lg {
  border-bottom: 1px solid #DDDDDD;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0;
}

.pt-1 {
  padding-top: 1em;
}

.bt-0 {
  border-top: none;
}

.flex, .card, aside li.page-item, .btn-group, .center-round {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center, .center-round {
  justify-content: center;
  align-items: center;
}

.flex-spred {
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.move {
  cursor: move;
}

.em-3-4 {
  font-size: 0.75em !important;
  line-height: 1em !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1em;
}

.pl-1 {
  padding-left: 1em;
}

.pl-0-5 {
  padding-left: 0.5em !important;
}

.mt-2-5 {
  margin-top: 2.5em;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-4 {
  margin-right: 4em !important;
}

.ml-375 {
  margin-left: 0.375em;
}

.no-shadow {
  box-shadow: none;
}

* {
  box-sizing: border-box;
}

/* body {
  font-family: Roboto,sans-serif;
  background-color: #EFEFEF;
  min-width: 48em;
  height: 100vh;
  display: flex;
  margin: 0;
} */

.rotate-90 {
  transform: rotate(90deg);
}

.flip-horz {
  transform: rotate(180deg);
}

.collapsible .active .rotate-180 {
  transform: rotate(180deg);
}

.paper, aside, .editor-toolbar.over, .editor-canvas {
  background-color: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  border: 1px solid #F0F0F0;
  background-color: #FFFFFF;
  align-items: center;
  padding: 0.25em;
}

ul.custom-tabs li.tab {
  padding: 0;
  margin: 0;
  flex: 1;
}
ul.custom-tabs li.tab a {
  color: rgba(0, 0, 0, 0.66);
  padding: 0;
}
ul.custom-tabs li.tab a:hover, ul.custom-tabs li.tab a:focus {
  color: #3F51B5;
}
ul.custom-tabs li.tab a.active {
  color: #3F51B5;
}
ul.custom-tabs .indicator {
  background-color: #3F51B5;
}

aside {
  background-color: #FAFAFA;
  height: 100vh;
  width: 16.5em;
  z-index: 100;
}
aside ul {
  border-bottom: 1px solid #F0F0F0;
  background-color: #FFFFFF;
}
aside .panel-slide {
  padding: 0.25em;
}
aside li.page-item {
  justify-content: space-between;
  padding: 0.25em !important;
  align-items: center;
}
aside li.page-item .page-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.875em;
}
aside li.page-item > * {
  color: #475262;
  font-weight: 300;
}

.editor {
  background-color: transparent;
  overflow-y: scroll;
  position: relative;
  max-height: 100vh;
  flex: 1;
}

.editor-toolbar {
  background-color: #EFEFEF;
  position: fixed;
  padding: 0 3.75em;
  left: 16.5em;
  z-index: 10;
  right: 0;
  top: 0;
}
.editor-toolbar.over {
  background-color: #EFEFEF;
}

.editor-canvas {
  background-color: #EFEFEF;
  min-height: 100vh;
  max-width: 90em;
  margin: 6em 3.75em 2em;
  flex: 1;
}
@media (min-width: 110.5em) {
  .editor-canvas {
    margin-right: auto;
    margin-left: auto;
  }
}

.lesson-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  color: #475262;
  font-size: 1.25em;
  max-width: 450px;
}

.btn-inverse {
  background-color: transparent !important;
  border: 1px solid #3F51B5;
  white-space: nowrap;
  color: #3F51B5;
}
.btn-inverse:hover {
  background-color: #3F51B5 !important;
  border: 1px solid #3F51B5;
  color: #FFFFFF;
}

.btn-round, .center-round {
  border-radius: 2em;
}

.btn-group {
  border-radius: 2em;
  overflow: hidden;
}
.btn-group .btn {
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}
.btn-group .btn:first-of-type {
  padding-right: 0.5em;
  padding-left: 1em;
}
.btn-group .btn:last-of-type {
  border-left: 1px solid #FFFFFF;
  padding-right: 1em;
  padding-left: 0.5em;
}
.btn-group .btn i {
  margin: 0;
}

.dropdown-content.custom {
  border: 1px solid #DDDDDD;
  width: 225px !important;
  transform: translate(-2.25em, 3em);
  background-color: #FFFFFF;
  padding: 0.75em 1rem;
  border-radius: 3px;
  font-size: 0.875em;
  text-align: left;
}

.hover {
  cursor: pointer;
  display: block;
}

i.circle {
  background-color: transparent;
  border: 1px solid #797F89;
  margin-left: 0.375em;
  pointer-events: none;
  font-size: 1.5em;
  padding: 0.325em;
  cursor: default;
  color: #797f89;
  opacity: 0.4;
}
i.circle:not([disabled]) {
  background-color: transparent;
  border-color: #797f89;
  cursor: pointer;
  color: #797f89;
  opacity: 1;
}
i.circle:not([disabled]):hover {
  background-color: #0069FF;
  border-color: #0069FF;
  color: #FFFFFF;
}
i.circle.active {
  border-color: #3F51B5;
  color: #3F51B5;
}

.header-vertical-rule {
  background: rgba(123, 128, 138, 0.25);
  margin-left: 0.375em;
  display: block;
  min-height: 36px;
  width: 1px;
}

body.preview .draw-panel {
  display: none;
}
body.preview .sh-preview {
  display: initial;
}
body.preview .hd-preview, body:not(.preview) .sh-preview {
  display: none;
}

.affixed {
  z-index: 100;
  position: fixed;
  left: 17.5em;
}
.affixed.bottom {
  bottom: 0;
}
.affixed.top {
  transform: translateX(-4px);
  top: 22px;
}

.align-center {
  align-self: center;
}

.no-break {
  white-space: nowrap;
}

.center-round {
  height: 36px;
  width: 36px;
  padding: 0;
}

i.active {
  color: #3F51B5 !important;
}
