/* .userEL2556136 { position: relative; padding: 40px 0; }
.userEL2556136 .container { padding: 0 60px; margin-bottom: 40px; }
.userEL2556136 .row { position: relative; }
.userEL2556136 .full-width { padding: 0 45px; }

.userEL2556136 .carousel-indicators { position: relative; bottom: -20px; height: 0; margin-bottom: 0; }
.userEL2556136 .carousel-indicators li { background-color: #bcbdbe; border: none; width: 5px; height: 5px; margin: 6px 10px; }
.userEL2556136 .carousel-indicators li.active { background-color: #212327; border: none; }

.userEL2556136.carousel-fade .carousel-inner .item { opacity: 0; -webkit-transition-property: opacity; -moz-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; }
.userEL2556136.carousel-fade .carousel-inner .active { opacity: 1; }
.userEL2556136.carousel-fade .carousel-inner .active.left,
.userEL2556136.carousel-fade .carousel-inner .active.right { left: 0; opacity: 0; z-index: 1; }
.userEL2556136.carousel-fade .carousel-inner .next.left,
.userEL2556136.carousel-fade .carousel-inner .prev.right { opacity: 1; }
.userEL2556136.carousel-fade .carousel-control { opacity: 1; z-index: 1; }

.userEL2556136 .carousel-control.left,
.userEL2556136 .carousel-control.right {
 background: none;
 position: absolute;
 width: 100%;
 height: 100%;
}
.userEL2556136 .carousel-control.left > span {
 position: absolute;
 top: 50%;
 left: 0;
 width: 15px;
 height: 15px;
 border: 1px solid #ffffff;
 border-bottom: none! important;
 border-right: none! important;
 -webkit-transform: translateX(24px) translateY(-50%) rotate(-45deg);
 -moz-transform: translateX(24px) translateY(-50%) rotate(-45deg);
 -ms-transform: translateX(24px) translateY(-50%) rotate(-45deg);
 -o-transform: translateX(24px) translateY(-50%) rotate(-45deg);
 transform: translateX(24px) translateY(-50%) rotate(-45deg);
}
.userEL2556136 .carousel-control.right > span {
 position: absolute;
 top: 50%;
 right: 0;
 width: 15px;
 height: 15px;
 border: 1px solid #ffffff;
 border-bottom: none! important;
 border-left: none! important;
 -webkit-transform: translateX(-27px) translateY(-50%) rotate(45deg);
 -moz-transform: translateX(-27px) translateY(-50%) rotate(45deg);
 -ms-transform: translateX(-27px) translateY(-50%) rotate(45deg);
 -o-transform: translateX(-27px) translateY(-50%) rotate(45deg);
 transform: translateX(-27px) translateY(-50%) rotate(45deg);
}
.userEL2556136 .control-box {
 background-color: #000000;
 position: absolute;
 top: 50%;
 display: inline-block;
 width: 60px;
 height: 60px;
 z-index: 3;
 -webkit-transform: translateY(-50%);
 -moz-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 -o-transform: translateY(-50%);
 transform: translateY(-50%);
}
.userEL2556136 .control-box.left {
 left: -30px;
}
.userEL2556136 .control-box.right {
 right: -30px;
}

@media only screen and (max-width:991px) {
    .userEL2556136 .slide .carousel-inner .item { height: 341px; }
}

@media only screen and (max-width:767px) {
    .userEL2556136 .control-box { width: 40px; height: 40px; }
    .userEL2556136 .control-box.left { left: -20px; }
    .userEL2556136 .control-box.right { right: -20px; }
    .userEL2556136 .carousel-control.left > span { width: 10px; height: 10px; -webkit-transform: translateX(18px) translateY(-50%) rotate(-45deg); -moz-transform: translateX(18px) translateY(-50%) rotate(-45deg); -ms-transform: translateX(18px) translateY(-50%) rotate(-45deg); -o-transform: translateX(18px) translateY(-50%) rotate(-45deg); transform: translateX(18px) translateY(-50%) rotate(-45deg); }
    .userEL2556136 .carousel-control.right > span { width: 10px; height: 10px; -webkit-transform: translateX(-17px) translateY(-50%) rotate(45deg); -moz-transform: translateX(-17px) translateY(-50%) rotate(45deg); -ms-transform: translateX(-17px) translateY(-50%) rotate(45deg); -o-transform: translateX(-17px) translateY(-50%) rotate(45deg); transform: translateX(-17px) translateY(-50%) rotate(45deg); }
} */

/* line */

.userEL2556141 { position: relative; padding: 20px 0; }
.userEL2556141 .divider-box { margin:0 auto; }
.userEL2556141 hr { border: 0; border-top:1px solid #7f7f7f; height:1px; margin-bottom: 0; }
.userEL2556141 hr + hr { border-style: dashed; margin-top: 2px; margin-bottom: 20px; }


/* new */

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Open sans','Nanum Gothic','Tahoma','Verdana','Arial','Trebuchet MS';
    line-height: 180%;
    color: #3f3f3f;
    height: 100%;
    width: 100%;
   /*  overflow: hidden; */
    outline: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-animation-delay: .1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: .1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-touch-callout: none!important;
}