<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andada">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../assets/css/Basic-fancyBox-Gallery.css">
    <link rel="stylesheet" href="../assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="../assets/css/modal/modal.css">
    <link rel="stylesheet" href="../assets/css/modaltest.css">
    <link rel="stylesheet" href="../assets/css/Navbar-Fixed-Side.css">
    <link rel="stylesheet" href="../assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="../assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../assets/css/sidebar/custom.css">
    <link rel="stylesheet" href="../assets/css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../assets/css/style3.css">
    <link rel="stylesheet" href="../assets/css/Video-Parallax-Background-v2.css">
    <link rel="stylesheet" href="../assets/css/Video-Parallax-Background.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="height:91px;">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Brand</a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#services">product</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact">Contact<div class="modal fade" role="dialog" tabindex="-1"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><h4 class="modal-title">Modal Title</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div><div class="modal-body"><p>The content of your modal.</p></div><div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div></div></div></div></a></li>
                    <li
                        class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about">cheer up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white d-flex" style="background-image:url(&quot;../assets/img/IMG_4260.jpg&quot;);">
        <div class="container my-auto" style="background-color:light-gray;">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong style="color:rgb(222,222,222);">Enjoy COCKTAIL<br>ENJOY MOMENT</strong></h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-8 col-xl-9 offset-xl-2 mx-auto" style="width:621px;">
                <p class="text-faded mb-5" style="font-size:25px;color:#faf8fb;background-color:rgba(24,21,21,0.37);background-position:center;">좋은 사람들과 좋은 장소 그리고 한 잔의 칵테일<br>그거면 충분합니다</p><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="product.html" style="background-color:rgb(116,255,167);color:rgb(75,31,66);">Find MORE</a></div>
        </div>
    </header>
    <hr class="light my-4">
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="font-family:Merriweather, serif;">당신에게 꼭 맞는<br>칵테일을 찾아보세요</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-diamond fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-once="true"></i>
                        <h3 class="mb-3">Sturdy Templates</h3>
                        <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-bomb fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="200" data-aos-once="true"></i>
                        <h3 class="mb-3">Ready to Ship</h3>
                        <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-newspaper-o fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="400" data-aos-once="true"></i>
                        <h3 class="mb-3">Up to Date</h3>
                        <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-heart fa-4x text-primary mb-3 sr-icons" data-aos="fade" data-aos-duration="200" data-aos-delay="600" data-aos-once="true"></i>
                        <h3 class="mb-3">Made with Love</h3>
                        <p class="text-muted mb-0">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="my-4" style="max-width:150px;">
    <section id="portfolio" class="p-0">
        <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">
                <div class="col-sm-6 col-lg-4" data-aos="fade-right" style="margin-top:0px;"><a href="fullsize/1.jpg" class="portfolio-box"><img class="img-fluid" src="../assets/img/thumbnails/1.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>
                <div
                    class="col-sm-6 col-lg-4" data-aos="fade-down"><a href="fullsize/2.jpg" class="portfolio-box"><img class="img-fluid" src="../assets/img/thumbnails/2.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>
            <div
                class="col-sm-6 col-lg-4" data-aos="fade-left"><a href="fullsize/3.jpg" class="portfolio-box"><img class="img-fluid" src="../assets/img/thumbnails/3.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>
        <div
            class="col-sm-6 col-lg-4" data-aos="fade-right"><a href="fullsize/4.jpg" class="portfolio-box"><img class="img-fluid" src="../assets/img/thumbnails/4.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>
            <div
                class="col-sm-6 col-lg-4" data-aos="fade-up"><a href="fullsize/5.jpg" class="portfolio-box"><img class="img-fluid" src="../assets/img/thumbnails/5.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>
                <div
                    class="col-sm-6 col-lg-4" data-aos="fade-left"><a href="fullsize/6.jpg" class="portfolio-box"><img class="img-fluid" src="../assets/img/thumbnails/6.jpg"><div class="portfolio-box-caption"><div class="portfolio-box-caption-content"><div class="project-category text-faded"><span>Category</span></div><div class="project-name"><span>Project Name</span></div></div></div></a></div>
                    </div>
                    </div>
    </section>
    <section data-aos="fade-up" data-aos-duration="400" class="bg-dark text-white" style="background-image:url(&quot;../assets/img/alcohol-alcoholic-bar-4295.jpg&quot;);background-size:cover;background-repeat:space;background-position:right;margin-top:100px;">
        <div class="container text-center" style="width:500px;">
            <h2 data-aos="fade-up" data-aos-duration="400" data-aos-delay="200" class="mb-4" style="color:#dedede;background-color:rgba(23,19,25,0.64);letter-spacing:0px;font-style:normal;width:475px;min-width:0px;background-size:auto;background-repeat:no-repeat;">모두 당신의 이야기를 <br>기다립니다</h2><a class="btn btn-light btn-xl sr-button" role="button" href="#" data-aos="fade-up" data-aos-duration="800" data-aos-delay="450" style="margin-top:30px;">Write note</a></div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="my-4">
                    <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center"><i class="fa fa-phone fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-once="true"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 mr-auto text-center"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true"></i>
                    <p><a href="mailto:your-email@your-domain.com">email@example.com</a></p>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="bg-primary" style="background-image:url(&quot;../assets/img/cocktail-party.jpg&quot;);background-position:center;background-size:cover;background-color:#b6b4c3;background-repeat:repeat-y;">
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-lg-8 col-xl-7 offset-sm-1 offset-lg-9 offset-xl-9 mx-auto text-center">
                    <h2 class="text-white section-heading" style="color:#fb5315;background-color:rgba(0,0,0,0.4);width:625px;font-family:'Open Sans', sans-serif;"><strong>매주 새로운 칵테일을 선물받으세요</strong></h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4" style="color:#ffffff;background-color:rgba(0,0,0,0.56);width:625px;font-size:21px;font-style:normal;">이메일 수신에 동의하시면, 엄선된 칵테일을 메일로 보내드립니다<br>매주 새로운 칵테일과 함께 추억을 만드세요</p><a class="btn btn-light btn-xl js-scroll-trigger" role="button" href="#modal" data-aos="fade-up" data-aos-duration="650" data-aos-delay="350" data-aos-once="true" data-target="#cheersUp"
                        data-toggle="modal" style="margin:30px;margin-top:27px;">cheers up!</a><div role="dialog" tabindex="-1" class="modal fade" id="cheersUp">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cheers Up!</h4>
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
			
			<ul class="nav nav-tabs" id="myTab">
			  <li class="active"><a href="#home">로그인</a></li>
			  <li><a href="#profile">회원가입</a></li>
			  <li><a href="#messages">메시지</a></li>
			  <li><a href="#settings">설정</a></li>
			</ul>
			
            <div class="modal-body">
		<p>enjoy Us</p>
		    <form>
			<div>
				<lable for = "inputUesrName">Username</lable>
				<input class = "form-control" placeholder = "Cheers Username" type = "text" id = "inputUserName">
			</div>
			<div>
				<lable for = "inputPassword">Password</lable>
				<input class = "form-control" placeholder = "Cheers Password" type = "password" id = "inputPassword">
			</div>
		    </form>
            </div>
            <div class="modal-footer">
			<button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
				<a href = "cocktail/signUp.html">
			<button class="btn btn-light" type="buttdon">Sign UP</button>
				</a>
			<button class="btn btn-primary" type="button">login</button></div>
        </div>
    </div>
</div></div>
            </div>
        </div>
    </section>
    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Company Name © 2017</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="../assets/js/Basic-fancyBox-Gallery.js"></script>
    <script src="../assets/js/creative.js"></script>
    <script src="../assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="../assets/js/modal/modal.js"></script>
    <script src="../assets/js/modal/tab.js"></script>
    <script src="../assets/js/modaltest.js"></script>
    <script src="../assets/js/sidebar/sidebar.js"></script>
    <script src="../assets/js/Video-Parallax-Background-v2.js"></script>
    <script src="../assets/js/Video-Parallax-Background.js"></script>
</body>

</html>