<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>back video</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andada">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../assets/css/Basic-fancyBox-Gallery.css">
    <link rel="stylesheet" href="../assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="../assets/css/modal/modal.css">
    <link rel="stylesheet" href="../assets/css/modaltest.css">
    <link rel="stylesheet" href="../assets/css/Navbar-Fixed-Side.css">
    <link rel="stylesheet" href="../assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="../assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../assets/css/sidebar/custom.css">
    <link rel="stylesheet" href="../assets/css/sidebar/sidebar.css">
    <link rel="stylesheet" href="../assets/css/style3.css">
    <link rel="stylesheet" href="../assets/css/Video-Parallax-Background-v2.css">
    <link rel="stylesheet" href="../assets/css/Video-Parallax-Background.css">
</head>

<body style="background-color:#ffffff;">
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="index.html">Company Name</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Link 1</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Link 2</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Link 3</a></li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field"></div>
                </form><a class="btn btn-light action-button" role="button" href="#">Action </a></div>
        </div>
    </nav>
    <div class="wrapper" style="background-color:#ffffff;background-size:auto;background-position:center;">
        <section class="index-howto-alt py-3" style="margin-top:-121px;">
            <div class="container">
                <h2 class="text-center mb-3" style="margin-top:114px;font-family:Andada, serif;">Summer Cocktail</h2>
                <div class="psd-line pos-rel" style="position:relative;">
                    <div class="row align-items-center" style="margin-top:20px;height:600px;">
                        <div class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-1 p-5" style="background-image:url(&quot;../assets/img/2016420c7ad722e6ffb3c6f5cc1c2bba0396.jpg&quot;);background-position:center;height:550px;background-size:auto;background-repeat:no-repeat;">
                            <h2 class="grey-text d-none">Üyelik Tipini Seçerek Kayıt Olun</h2>
                        </div>
                        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-left1">
                            <p class="m-0 text-center text-sm-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mi nibh, tristique et sagittis in, aliquet id metus. In eleifend et dolor eget tincidunt.<br></p>
                        </div>
                    </div>
                    <div class="row flex-column-reverse align-items-center flex-sm-row" style="margin-top:20px;height:600px;">
                        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-right1">
                            <p class="m-0 text-center text-sm-right">Etiam eget nulla ut elit placerat commodo. Etiam vestibulum consectetur quam eget pretium. Sed in suscipit augue. Nunc venenatis porttitor enim a hendrerit.&nbsp;<br></p>
                        </div>
                        <div class="col-auto col-sm-6 d-flex flex-row justify-content-center intro-card-2 p-5" style="background-image:url(&quot;../assets/img/2017c1b342d8e5a3d3b4f229bbf85824ff86.jpg&quot;);background-position:center;height:550px;background-size:contain;background-repeat:no-repeat;">
                            <h2 class="grey-text d-none">Neye İhtiyacınız Varsa Belirtin</h2>
                        </div>
                    </div>
                    <div class="row align-items-center" style="margin-top:20px;height:600px;">
                        <div class="col-12 col-sm-6 d-flex flex-row justify-content-center align-items-center intro-card-3 p-5" style="background-image:url(&quot;../assets/img/20162045c7c2b4dc6468481e00cf481dcfa8.jpg&quot;);background-position:center;height:550px;background-repeat:no-repeat;background-size:contain;">
                            <h2 class="grey-text d-none">Size Uygun Teklifi Seçin</h2>
                        </div>
                        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center p-5 psd-left2">
                            <p class="m-0 text-center text-sm-left">Integer cursus tincidunt mauris, imperdiet bibendum augue dapibus tempor. Pellentesque rhoncus neque erat. Nam at metus urna. Nullam rhoncus odio eu sem fermentum dictum.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="../assets/js/Basic-fancyBox-Gallery.js"></script>
    <script src="../assets/js/creative.js"></script>
    <script src="../assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="../assets/js/modal/modal.js"></script>
    <script src="../assets/js/modal/tab.js"></script>
    <script src="../assets/js/modaltest.js"></script>
    <script src="../assets/js/sidebar/sidebar.js"></script>
    <script src="../assets/js/Video-Parallax-Background-v2.js"></script>
    <script src="../assets/js/Video-Parallax-Background.js"></script>
</body>

</html>