* {
  box-sizing:border-box;
}

body {
  font-family:sans-serif;
}

.button {
  display:inline-block;
  padding:0.5em 1.0em;
  background:#EEE;
  border:none;
  border-radius:7px;
  background-image:linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color:#222;
  font-family:sans-serif;
  font-size:16px;
  text-shadow:0 1px white;
  cursor:pointer;
}

.button:hover {
  background-color:#8CF;
  text-shadow:0 1px hsla(0, 0%, 100%, 0.5);
  color:#222;
}

.button:active, .button.is-checked {
  background-color:#28F;
}

.button.is-checked {
  color:white;
  text-shadow:0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow:inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

.button-group {
  margin-bottom:20px;
}

.button-group:after {
  content:'';
  display:block;
  clear:both;
}

.button-group .button {
  float:left;
  border-radius:0;
  margin-left:0;
  margin-right:1px;
}

.button-group .button:first-child {
  border-radius:0.5em 0 0 0.5em;
}

.button-group .button:last-child {
  border-radius:0 0.5em 0.5em 0;
}

/* .grid {
  border:1px solid #dbb4b4;
}
 */
.grid:after {
  content:'';
  display:block;
  clear:both;
}

.element-item {
  position:relative;
  float:left;
  width:100px;
  height:100px;
  margin:5px;
  padding:10px;
  background:#888;
  color:#262524;
}

.element-item > * {
  margin:0;
  padding:0;
}

.element-item .name {
  position:absolute;
  left:10px;
  top:60px;
  text-transform:none;
  letter-spacing:0;
  font-size:12px;
  font-weight:normal;
}

.element-item .symbol {
  position:absolute;
  left:10px;
  top:0px;
  font-size:42px;
  font-weight:bold;
  color:white;
}

.element-item .number {
  position:absolute;
  right:8px;
  top:5px;
}

.element-item .weight {
  position:absolute;
  left:10px;
  top:76px;
  font-size:12px;
}


 



h1_cocktailCard{
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

.wrapper_cocktailCard{
  width: 100%;
  margin: 0 auto;
  max-width: 80rem;
  background-color: #00000052;
}

.cols_cocktailCard{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col_cocktailCard{
  width: calc(17% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container_cocktailCard{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front_cocktailCard,
.back_cocktailCard{
    background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
	size: contain;
	repeat : no-repeat;
}

.back_cocktailCard{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front_cocktailCard:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .2;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container_cocktailCard:hover .front,
.container_cocktailCard:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back_cocktailCard{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.inner_cocktailCard{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container_cocktailCard .back_cocktailCard{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container_cocktailCard .front_cocktailCard{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container_cocktailCard:hover .back_cocktailCard{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container_cocktailCard:hover .front_cocktailCard{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front_cocktailCard .inner_cocktailCard p_cocktailCard{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front_cocktailCard .inner_cocktailCard p_cocktailCard:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front_cocktailCard .inner_cocktailCard span_cocktailCard{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col_cocktailCard{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col_cocktailCard{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col_cocktailCard{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}