<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS FEED</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="./resources/assets/main/css/styles.min.css">
</head>

<body><div class="navbar is-top-fixed">
  <div class="container-fluid">
    <div class="container">

      <div class="navbar-left">
        <a href="#" class="navbar-toggle">
           <span></span>
           <span></span>
           <span></span>
        </a>
      </div>
      <!-- navbar-left -->

      <div class="navbar-center">
        <a href="" class="navbar-item navbar-logo">
          <i class="fas fa-glass-martini icon"></i>
        </a>
        <a href="" class="navbar-item navbar-logo">
          <i class="fab fa-microsoft icon"></i>
        </a>
      </div>
      <!-- navbar-center -->

      <div class="navbar-right">
        <a href="#" class="navbar-item">
          <i class="fas fa-search"></i>
        </a>

        <a href="#" class="navbar-item is-avatar" @click.prevent="showProfilePanel">
          <img src="https://unsplash.it/200/200?image=1005" alt="Avatar"/>
        </a>
      </div>
      <!-- navbar-center -->
    </div>
    <!-- container -->
  </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>