
/* The popup chat - hidden by default */
.chat-popup {
      display: none;
      position: absolute;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 10;
    }

    /* Add styles to the form container */

    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }

    /* Full-width textarea */

    .form-container textarea {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
      resize: none;
      min-height: 50px;
    }

    /* When the textarea gets focus, do something */

    .form-container textarea:focus {
      background-color: #ddd;
      outline: none;
    }

    /* Set a style for the submit/send button */

    .form-container .btn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;
      opacity: 0.8;
    }

    /* Add a red background color to the cancel button */

    .form-container .cancel {
      background-color: red;
    }

    /* Add some hover effects to buttons */

    .form-container .btn:hover,
    .open-button:hover {
      opacity: 1;
    }

     .container_chat {
      border: 2px solid #dedede;
      background-color: #f1f1f1;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
    }
 
    .darker {
      border-color: #ccc;
      background-color: #ddd;
    }

    .container_chat::after {
      content: "";
      clear: both;
      display: table;
    }

    .container_chat img {
      float: left;
      max-width: 60px;
      width: 100%;
      margin-right: 20px;
      border-radius: 50%;
    }

    .container_chat img.right {
      float: right;
      margin-left: 20px;
      margin-right: 0;
    }

    .time-right {
      float: right;
      color: #aaa;
    }

    .time-left {
      float: left;
      color: #999;
    }