.simple-slider .swiper-slide {
  height:500px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-top: 35px;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  
  margin-left:20px;
  margin-right:20px;
 
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display:none;
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height:360px;
  }
}


.swiper-button-next, .swiper-button-prev {
    
    background-size: 12px 44px;
    background-position: center;
    background-repeat: no-repeat;
    
    background-color: #000000;
    position: absolute;
    top: 58%;
    display: inline-block;
    width: 60px;
    height: 60px;
    z-index: 3;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.swiper-container {
   
   max-width: 92%;
}

