.product-items {
  width:100%;
}

.product-items .product-item {
  display:inline-block;
  vertical-align:top;
  text-align:center;
  color:#45616C;
  margin-top:30px;
  margin-right:50px;
  transition:.5s;
  -webkit-transition:.5s;
}

.product-items .product-item:last-child {
  margin-right:0;
  
}

.product-items .product-item:hover {
  color:#4DC3C7;
}

.product-items .product-item .item-wrap {
  /*width:130px;*/
  padding:6px;
  /* border:2px solid; */
  position:relative;
}

.product-items .product-item > .item-wrap, .product-items .product-item > .item-wrap img, .product-items .product-item .item-wrap .wrap-qtt {
  border-radius:50%;
  line-height:0;
}

.product-items .product-item > .item-wrap img {
  /* opacity:.9; */
  transition:.5s;
  -webkit-transition:.5s;
  width: 130px;
  height: 130px;
      max-width: 130px;
    max-height: 130px;
}

.product-items .product-item:hover img {
  transform:scale(.85) rotate(30deg);
  -webkit-transform:scale(.85) rotate(30deg);
  opacity:1;
}

.product-items .product-item .item-wrap .wrap-qtt .wrap-qtt-field-qtt, .product-items .product-item .item-wrap .wrap-qtt .wrap-qtt-minus-plus {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  opacity:0;
  transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
}

.product-items .product-item .item-wrap .wrap-qtt .wrap-qtt-field-qtt {
  transition:.4s;
  -webkit-transition:.4s;
}

.product-items .product-item .item-wrap .wrap-qtt .wrap-qtt-minus-plus {
  transition:.5s;
  -webkit-transition:.5s;
}

.product-items .product-item:hover .wrap-qtt .wrap-qtt-minus-plus {
  opacity:1;
  transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
}

.product-items .product-item .item-info {
  margin-top:10px;
}

.product-items .product-item .item-info .item-title, .product-items .product-item .item-info .item-price {
  text-transform:uppercase;
  font-weight:bold;
  color:#4BEFF2;
}

.product-items .product-item .item-info .item-price {
  font-size:15px;
  color:#4DC3C7;
}


.container_cocktail {
   
    text-align: center;
}


